.card {
	text-decoration: none;
	text-align: center;
	border: 2px solid #eee;
	border-radius: 0.5rem;
	position: relative;
	color: #eee;
	-webkit-filter: contrast(0.8);
	filter: contrast(0.8);
	transition: all 0.15s ease-in-out;
}

.card:hover {
	transform: scale(1.03);
}

.close-icon {
	position: absolute;
	top: -1rem;
	right: -1rem;
	background-color: #eee;
	border: 1px solid transparent;
	border-radius: 50%;
	color: #222;
	transition: all 0.15s ease-in-out;
	cursor: pointer;
	z-index: 2;
}

.close-icon:hover {
	background-color: #e30505;
}
