.actions {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem;
}

.actions label {
	font-weight: 700;
	padding: 1rem;
}

.actions select {
	padding: 1rem;
	margin: 1rem;
	background-color: #222;
	color: #eee;
	border: 2px solid white;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	font-weight: 700;
}

@media screen and (max-width: 700px) {
	.actions {
		flex-direction: column;
	}

	.actions label {
		display: flex;
		flex-direction: column;
	}
}
