body {
	background-color: #222;
	color: #eee;
	display: block;
	text-align: center;
	padding: 1rem 2rem;
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
	padding: 2rem;
}

@media screen and (max-width: 768px) {
	.card-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.card-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 400px) {
	.card-grid {
		grid-template-columns: 1fr;
	}
}
